<div class="footer">
	<div class="foot-container">
		<div class="footer-left">
			<ul>
				<li><a href="#">About</a></li>
				<li><a href="#">Term of Use</a></li>
				<li><a href="#">Privacy Policy</a></li>
			</ul>
			<p class="copyright">&copy; 2022 STAR.All Rights Reserved. HBO,
				Home Box Office and all related channel and programming logos are service marks of,
				and all related programming visuals and 
				elements are the property of,Home Box Office,Inc.All rights reserved.
			</p>
		</div>
		<div class="footer-right">
			
			<div class="social-sec">
				<div class="social-sec-container">
					<p>Connect with us</p>
					<div class="soc-div">
					  <a class="fb" href="#"><i class="fa-brands fa-facebook-square"></i></a>
					  <a class="tw" href="#"><i class="fa-brands fa-twitter-square"></i></a>
				  </div>
				</div>
			</div>
		
			<div class="app-sec">
				<div class="app-sec-container">
					<p>Disney+ Star App</p>
					<div class="app-sub-sec">
						<p class="app-logo"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQMVGavAMAnhKgy8E9hEEadI-dWZOIMCJlMvvwWsF5BfNfkXLE6heGgN3haJgo6vHRbKMo&usqp=CAU"></p>
						<p class="app-logo"><img src="https://cdn.imgbin.com/0/7/24/imgbin-app-store-google-play-app-store-X6KZA6U2DVzzqx128G2RxG1UH.jpg"></p> 

					</div>
				</div>
			</div>

		</div>

		

	</div>
</div>