<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
			
			<div class="carousel-item-divider">
			
		
			  <div class="subCaption">
					<div class="subCaption-container">
			  	  <h5>Turning Red</h5>
					  <p>Family 2022</p>
			  	  <p>Mei Lee,a confident,dorky 13 year-old,tries to balance friends,family,the 
						chaos of adolescence and an uncontrollable ability to proof into a giant red panda.
			   	  </p>
				  </div>
			  </div>
				<img class="d-block" src="https://img1.hotstarext.com/image/upload/f_auto,t_web_m_1x/sources/r1/cms/prod/4379/1124379-h-175645dfcc29" alt="First slide">

		  </div>
      
		</div>
    <div class="carousel-item">
     
			<div class="carousel-item-divider">
			
        <div class="subCaption">
					<div class="subCaption-container">
			  	  <h5>Master</h5>
					  <p>Action 2021</p>
			  	  <p>Master unites the people of Dharavi against a politician
				 	   ,who tries to evict the residents When the fight becomes personal,how will Kaala
				  	 survive it?
			   	  </p>
				  </div>
			  </div>
				<img class="d-block" src="https://wallpaperaccess.com/full/2162049.jpg" alt="Third slide">

		  </div>
		</div>

    <div class="carousel-item">
      
			<div class="carousel-item-divider">
	
        <div class="subCaption">
					<div class="subCaption-container">
			  	  <h5>Kaala</h5>
					  <p>Action 2019</p>
			  	  <p>Kaala unites the people of Dharavi against a politician
				 	   ,who tries to evict the residents When the fight becomes personal,how will Kaala
				  	 survive it?
			   	  </p>
				  </div>  
			  </div>
				<img class="d-block " src="https://img1.hotstarext.com/image/upload/f_auto,t_web_m_1x/sources/r1/cms/prod/6789/76789-h" alt="Second slide">
			</div>
    </div>

	</div>	
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<app-collections></app-collections>